extends layout.pug
block append content
  .container
    .jumbotron
      h1 Find snags in the TTC!
      p.explainer Feel like the busses on frequent routes bottle up, turning a less-then ten minute turnaround up to 30 minutes between groups? Use this app to prove this and get the attenion of the service?
    .col
