script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js")
h1 Bus Request page

#map(style="width: 100vw; height: 500px;")

script.
  mapboxgl.accessToken = 'pk.eyJ1IjoiYnJpYW5iYW5jcm9mdCIsImEiOiJsVGVnMXFzIn0.7ldhVh3Ppsgv4lCYs65UdA';
  var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
      center: [-79.4694861, 43.7814104], // starting position
      zoom: 9 // starting zoom
  });


  //bus-15
  map.on('load', () => {
    console.log(('!{data.geodata}'))
    const geodata = JSON.parse('!{data.geodata}');
    map.addLayer({
      "id": "points",
      "type": "circle",
      "source": {
        "type": "geojson",
        "data": geodata
      },
      "paint": {
        "circle-color": 'rgba(0,255,0,0.5)',
        "circle-radius": 10
      }
    });
  });

