extends layout.pug
block append content
  .explainer
  | This is where the explainer copy goes
  .bus-date-select-container
    .bus-selector Bus Selector
    .date-selector Date Selector
    .go-button Go Button
