html
  head
    block head
      link(href='./css/style.css')
      script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js")

  body
    header
      .logo-container
      | Image goes here
  main
    block content
    
  footer
    .footer-container
      .block
        span.question
      | Brian Bancroft
      .block
      | Not affiliated with the TTC
      .block
        span.github