html
  head
    block head
      link(href='./css/style.css')
      script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js")

  body
    header
      h1 Mobile TTC Clustering
  main
    block content
    
  footer
    div This is being done to do stuff